.header {
  @apply inline-flex
  w-full
  p-4
  justify-between
  items-center
  bg-transparent
  fixed
  transition-colors;
}

.active-navigation {
  @apply absolute
  bg-white
  flex
  flex-col
  justify-center
  items-center
  text-center
  gap-5
  top-16
  left-5
  w-[90%]
  p-10
  z-10;
}

.active-navigation a {
  @apply text-Grayish-blue;
}

.active-navigation button {
  @apply bg-Yellow
  py-3
  px-6
  rounded-full
  font-Fraunces
  font-bold
  text-Dark-desaturated-cyan;
}

.scrolled {
  @apply bg-White
  transition-colors;
}

.scrolled img {
  @apply transition;
}

.navigation {
  @apply hidden
  md:flex
  flex-row
  items-center
  gap-12
  px-4;
}

.navigation a {
  @apply text-White
  hover:text-Dark-desaturated-cyan;
}

.navigation button {
  @apply bg-white
  py-3
  px-6
  rounded-full
  text-Dark-desaturated-cyan
  font-Fraunces
  font-bold
  hover:text-White
  hover:bg-opacity-20;
}

.navigation.scrolled a {
  @apply text-Dark-desaturated-cyan;
}

.navigation.scrolled button {
  @apply bg-Yellow
  text-White;
}

.hero {
  @apply bg-[url('../assets/images/mobile/image-header.jpg')]
  bg-no-repeat
  bg-cover
  flex
  flex-col
  justify-center
  items-center
  p-4
  min-h-[33.5rem]
  w-full
  gap-8
  md:bg-[url('../assets/images/desktop/image-header.jpg')]
  md:min-h-[50rem]
  md:justify-start
  md:pt-40
  md:gap-28;
}

.title {
  @apply text-White
    text-[2.5rem]
    font-Fraunces
    text-center
    font-bold
    tracking-widest
    uppercase;
}

.first,
.second,
.third,
.fourth,
.fifth,
.footer {
  @apply flex
    flex-col
    w-full
    h-full
    justify-center
    items-center
    md:flex-row;
}

.first {
  @apply md:flex-row-reverse
  md:h-[500px];
}

.second {
  @apply md:h-[500px];
}

.third {
  @apply md:h-[520px];
}

.fourth,
.footer {
  @apply md:flex-col;
}

.egg,
.cup {
  @apply w-full
  h-full
  md:w-1/2;
}

.egg img,
.cup img {
  @apply object-cover
  w-full
  h-full;
}

.content {
  @apply flex
    flex-col
    justify-center
    items-center
    text-center
    text-Dark-grayish-blue
    bg-White
    p-8
    gap-4
    h-full
    w-full
    md:w-1/2;
}

.content h2 {
  @apply text-Very-dark-desaturated-blue
    font-Fraunces
    font-bold
    text-3xl;
}

.hyperlink {
  @apply relative;
}

.hyperlink a {
  @apply font-Fraunces
    text-Very-dark-desaturated-blue
    uppercase
    relative
    z-20
    font-bold;
}

.underline {
  @apply absolute
    bottom-0
    -right-[2px]
    top-4
    z-10
    w-[7.5rem]
    h-2
    
    rounded-lg
    opacity-35;
}

.underline#yellow {
  @apply bg-Yellow;
}

.underline#red {
  @apply bg-Soft-red;
}

.graphic,
.photography {
  @apply flex
  flex-col
  justify-center
  items-center
  text-center
  p-4
  pt-[100%]
  pb-14
  gap-4
  h-full
  w-full
  md:pt-[20%]
  md:pb-2
  md:px-48;
}

.graphic h3,
.photography h3 {
  @apply font-Fraunces
  font-bold
  text-3xl;
}

.graphic {
  @apply bg-[url('../assets/images/mobile/image-graphic-design.jpg')]
  bg-no-repeat
  bg-cover
  text-Dark-desaturated-cyan
  md:bg-[url('../assets/images/desktop/image-graphic-design.jpg')];
}

.photography {
  @apply bg-[url('../assets/images/mobile/image-photography.jpg')]
  bg-no-repeat
  bg-cover
  text-Dark-blue
  md:bg-[url('../assets/images/desktop/image-photography.jpg')];
}

.fourth {
  @apply px-6
  py-20
  gap-10
  bg-White;
}

.fourth h2 {
  @apply font-Fraunces
  text-Grayish-blue
  tracking-[.2rem]
  uppercase
  text-lg
  font-semibold;
}

.client-container {
  @apply flex
  flex-col
  gap-10
  md:flex-row
  md:px-14
  md:gap-2;
}

.client {
  @apply flex
  flex-col
  justify-center
  items-center
  text-Very-dark-grayish-blue
  text-center
  gap-4
  md:px-14;
}

.client h4 {
  @apply text-Dark-blue
  font-extrabold
  font-Fraunces;
}

.client h5 {
  @apply -mt-3
  text-Grayish-blue
  text-sm;
}

.row {
  @apply flex
  flex-row;
}

.footer {
  @apply py-14
  px-12
  gap-10
  bg-Dark-moderate-cyan;
}
.footer .logo {
  @apply w-40;
}

.footer .links,
.socials {
  @apply w-full
  flex
  flex-row
  justify-between
  items-center
  md:justify-center
  md:gap-16;
}

.links a {
  @apply text-Dark-desaturated-cyan
  opacity-50
  hover:text-white
  hover:opacity-100;
}

.socials {
  @apply justify-evenly
  px-4
  md:justify-center
  md:gap-6;
}

.socials path {
  @apply hover:fill-white;
}
